<div class="row">
	<div class="col-lg-12">
		<h1>Ride Details</h1>
		<p>Ride Name:<%= @ride.RideName %></p>
		<p>Ride Date: <%= @ride.RideDate %></p>
		<p>Ride Sponsor ID: <%= @ride.RideSponsorId %></p>
		<p>Ride Description: <%= @ride.Description %></p>
		<p>Ride Terrain: <%= @ride.RideTerrain %></p>
	</div>
</div>
